
.XP{
  height: 400px;
}

.dot{
  
  
  width: 20px;
  height: 20px;  
  border-radius: 50%;
  
}

.Vline{
  
  width: 5px;
  height: 200px;
   
  
}
.dot, .Vline{
  background-color: cyan;
  margin: auto;
}
.jobD1{
  display: flex;
  
  align-items: center;
  justify-content: center;
  width: 400px;
  
  margin-left: 510px;
  
}
.jobD2{
  display: flex;
  
  align-items: center;
  justify-content: center;
  width: 400px;
  
  margin-left: 801px;
  /* margin: auto; */

  
}
.content{
  margin: 0;
  align-items: end;
  justify-content: baseline;
  
  

}

.role{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.duration{
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}


.company{
  
  
  width: 70px;
}
.company:hover{
  cursor: pointer;
  
}

.role1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
}
.duration1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: right

}


.company1{
  
  
  /* width: 70px; */
  text-align: right;
  
}



.jobDesc1{
  text-align: right
}
a{
  text-decoration: none;
  color: white;
  
  
}
a:hover{
  color: cyan;

}