*{
    margin: 0;
    padding: 0;

    
    /* z-index: 1; */
    
}



.box{
    /* border: 3px solid red; */
    height: 70px;
    background-color: #192B43;
    position: sticky;
    top: -100;
    /* z-index: 1000; */
    /* position: fixed; */
}



.navbar{
    color: white;
    
    background-color: #192B43;
    /* margin: 0; */
    height: 70px;
    padding: 0;
    width: 100%;
    position: sticky;
    /* position: relative;
    position: static; */
    z-index: 1000;
    top:0;
    /* position: fixed; */
    
    
}
.navlist{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-family:Verdana;
    
    
    
    
}
.navitem:hover{
    cursor: pointer;
    color: #147097;
    
}
.navitem{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
