.Projects {
  background-color: #192b43;
  /* background-color: black; */

  /* margin-top: 20px; */
}
.title {
  text-align: center;
  font-size: 30px;
  color: white;
  font-family: Verdana;
  font-weight: bold;
  font-style: italic;
}

.calculator {
  width: 250px;
  margin: 20px;
  border-radius: 8%;
}
.calculator:hover {
  cursor: pointer;
}

.Weather {
  height: 280px;
  margin: 20px;
  border-radius: 8%;
}
.calculator:hover {
  cursor: pointer;
}
