h1{
    color: white;
    /* color: #192B43; */
    background-color: #192B43;
    text-align: center;
    
}
h2{
    /* color: white; */
    color: #192B43;
    background-color: #192B43;
    padding-top: 20px;
    padding-bottom: 10px;
    
    text-align: center;
    
}

p{
    
    background-color: #192B43;
    color: white;
}



