.banner{
    
    height: 250px;
    background-color: #147097;
    border: 1px solid black;
    display: flex;
    
}

.title{
    color: white;
    font-weight: bold;
    font-size: 40px;
    font-family:Verdana;
    margin-left: 40px;
    padding-top: 80px;
    
}
.subtitle{
    color: white;
    /* font-weight: bold; */
    font-size: 20px;
    font-family:Verdana;
    margin-left: 40px;
    padding-top: 20px;
    
}
img{
    height: 200px;
    border-radius: 50%;
    margin-left: 40px;
    margin-top: 20px;



}

.icons{
    display: flex;
    
}
.iconlist{
    display: flex;
    list-style: none;
    justify-content: space-around;
    

    
    
    
    
    
}

.iconitem{
    size: 80px;
    
    
    
    
    
}

.iconitem:hover{
    background-color: #192B43;
    border: 2px solid red;
}